@model Employee
@{
    ViewData["Title"] = "Delete Employee";
}

<form method="post">
    <div class="row pt-4">
        <h2 class="text-primary text-black"> Delete Employee</h2>
    </div>
    
    <div class="pt-3">
        <label asp-for="EmployeeID" hidden></label>
        <input asp-for="EmployeeID" class="form-control" hidden/>
        
    </div>
    <div class="pt-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" disabled/>
       
    </div>
    <div class="pt-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" disabled/>
       
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>

</form>



